routability_ir_drop_prediction/work_dir/*

net_delay_prediction/checkpoints/*

*.pyc

.vscode/*

__pycache__/*

feature_extraction/out/
feature_extraction/__pycache__/
feature_extraction/images/
feature_extraction/LEF/circuitnet.lef

.venv/
**/drc_all/
**/training_set/
**/routability_features/
**/ir_drop_features/
**/routability_features_decompressed/
**/work_dir/
**/work_dirs/
**/.aim/
**/multirun/
